node_modules
.corepack-bin
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log

.turbo
**/.turbo
**/.eslintcache

.env
.env.full
.env.quickstart
.ipynb_checkpoints


# LangGraph API
.langgraph_api

__pycache__/
.mypy_cache/
.ruff_cache/